In [1]:
#importing pandas
import pandas as pd

In [64]:
# Importing data set 
dim_customers_df=pd.read_csv("D:\\Da_Bootcamp\\Hackathon_DA_Noob_1.0\\Raw Data\\dim_customers.csv")
dim_date_df=pd.read_csv("D:\\Da_Bootcamp\\Hackathon_DA_Noob_1.0\\Raw Data\\dim_date.csv")
dim_products_df=pd.read_csv("D:\\Da_Bootcamp\\Hackathon_DA_Noob_1.0\\Raw Data\\dim_products.csv")
dim_targets_orders_df=pd.read_csv("D:\\Da_Bootcamp\\Hackathon_DA_Noob_1.0\\Raw Data\\dim_targets_orders.csv")
fact_order_lines_df=pd.read_csv("D:\\Da_Bootcamp\\Hackathon_DA_Noob_1.0\\Raw Data\\fact_order_lines.csv")
fact_order_aggregate_df=pd.read_csv("D:\\Da_Bootcamp\\Hackathon_DA_Noob_1.0\\Raw Data\\fact_orders_aggregate.csv")


fact_order_lines_df

,order_id,order_placement_date,customer_id,product_id,order_qty,agreed_delivery_date,actual_delivery_date,delivery_qty,In Full,On Time,On Time In Full
0,FMR32603203,01-Mar-22,789603,25891203,460,02-Mar-22,03-Mar-22,460,1,0,1
1,FMR33401603,01-Mar-22,789401,25891203,429,03-Mar-22,03-Mar-22,429,1,1,1
2,FMR32320302,01-Mar-22,789320,25891203,347,02-Mar-22,02-Mar-22,347,1,1,1
3,FMR33320501,01-Mar-22,789320,25891203,187,03-Mar-22,03-Mar-22,150,0,1,0
4,FMR34220601,01-Mar-22,789220,25891203,235,04-Mar-22,04-Mar-22,235,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
57091,FAUG831420303,30-Aug-22,789420,25891303,24,31-Aug-22,30-Aug-22,24,1,1,1
57092,FAUG831122303,30-Aug-22,789122,25891303,67,31-Aug-22,31-Aug-22,54,0,1,0
57093,FAUG831702303,30-Aug-22,789702,25891303,41,31-Aug-22,30-Aug-22,37,0,1,0
57094,FAUG831221503,30-Aug-22,789221,25891303,92,31-Aug-22,31-Aug-22,83,0,1,0
57095,FAUG831202303,30-Aug-22,789202,25891303,29,31-Aug-22,01-Sep-22,29,1,0,1

In [38]:
#RENAME columns simlar to fact_order_line table
fact_order_aggregate_df=fact_order_aggregate_df.rename(columns={'on_time':'On Time','in_full':'In Full','otif':'On Time In Full'})

In [39]:
fact_order_aggregate_df.head()

,order_id,customer_id,order_placement_date,On Time,In Full,On Time In Full
0,FMR32103503,789103,01-Mar-22,1,0,0
1,FMR34103403,789103,01-Mar-22,1,0,0
2,FMR32103602,789103,01-Mar-22,1,0,0
3,FMR33103602,789103,01-Mar-22,1,0,0
4,FMR33103401,789103,01-Mar-22,1,0,0

In [40]:
#check Null Values
dim_customers_df.isnull().any()

customer_id      False
customer_name    False
city             False
dtype: bool

In [41]:
dim_date_df.isnull().any()

date       False
mmm_yy     False
week_no    False
dtype: bool

In [42]:
dim_products_df.isnull().any()

product_name    False
product_id      False
category        False
dtype: bool

In [43]:
dim_targets_orders_df.isnull().any()

customer_id       False
ontime_target%    False
infull_target%    False
otif_target%      False
dtype: bool

In [44]:
fact_order_lines_df.isnull().any()

order_id                False
order_placement_date    False
customer_id             False
product_id              False
order_qty               False
agreed_delivery_date    False
actual_delivery_date    False
delivery_qty            False
In Full                 False
On Time                 False
On Time In Full         False
dtype: bool

In [45]:
fact_order_aggregate_df.isnull().any()

order_id                False
customer_id             False
order_placement_date    False
On Time                 False
In Full                 False
On Time In Full         False
dtype: bool

In [55]:
dim_customers_df.duplicated()
dim_date_df.duplicated()
dim_products_df.duplicated()
dim_targets_orders_df.duplicated()
fact_order_lines_df.duplicated()
fact_order_aggregate_df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
31724    False
31725    False
31726    False
31727    False
31728    False
Length: 31729, dtype: bool

In [62]:
#Data Types
dim_customers_df.dtypes
dim_date_df.dtypes
dim_products_df.dtypes
dim_targets_orders_df.dtypes
fact_order_lines_df.dtypes
fact_order_aggregate_df.dtypes

order_id                object
customer_id              int64
order_placement_date    object
On Time                  int64
In Full                  int64
On Time In Full          int64
dtype: object

In [63]:
fact_order_aggregate_df.dtypes

order_id                object
customer_id              int64
order_placement_date    object
On Time                  int64
In Full                  int64
On Time In Full          int64
dtype: object

In [66]:
fact_order_lines_df.dtypes

order_id                object
order_placement_date    object
customer_id              int64
product_id               int64
order_qty                int64
agreed_delivery_date    object
actual_delivery_date    object
delivery_qty             int64
In Full                  int64
On Time                  int64
On Time In Full          int64
dtype: object